<h2 class="container-company__title">Companies</h2>
<div class="row">
    <form [formGroup]="formCompany" >
        <div class="form-group" >
            <label for="nameCompany">Name Company</label>
            <input type="text" class="form-control" id="nameCompany" placeholder="Name Company" name="name" formControlName="name">
        </div>
      <div class="error" *ngIf="formCompany.controls['name'].invalid && formCompany.controls['name'].touched">
        Enter company name
      </div>
        <div class="form-group">
            <label for="addressCompany">Address Company</label>
            <input type="text" class="form-control" id="addressCompany" placeholder="Address Company" name="address" formControlName="address" >
        </div>
      <div class="error" *ngIf="formCompany.controls['address'].invalid && formCompany.controls['address'].touched">
        Enter company address
      </div>
        <div class="form-group">
            <label for="contactPerson">Contact Person</label>
            <input type="text" class="form-control" id="contactPerson"  placeholder="Contact Person" name="contact" formControlName="contactPerson">
        </div>
      <div class="error"
           *ngIf="formCompany.controls['contactPerson'].invalid && formCompany.controls['contactPerson'].touched">
        Enter your contactPerson
      </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email"  placeholder="Email" name = "email" formControlName="email">
        </div>
      <div class="error"
           *ngIf="(formCompany.controls['email'].invalid && formCompany.controls['email'].touched )   ">
        Enter your email
      </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="email" class="form-control" id="phone"  placeholder="Phone" name = "phone" formControlName="phone">
        </div>
      <div class="error"
           *ngIf="formCompany.controls['phone'].invalid && formCompany.controls['phone'].touched">
        Enter your phone
      </div>
      <div class="form-group">
        <button (click) = "addCompany() || formCompany.reset()" [disabled] =
                '!formCompany.valid'
                class="waves-effect waves-light btn"  >Add Company</button>
      </div>
        <div *ngIf="success" class="form-success">
            <p>Form Submitted Successfully</p>
             <button (click)="$event.preventDefault()" routerLink="/companies" class="waves-effect waves-light btn">companies list</button>
        </div>
      <div *ngIf="repeatCompany" class="form-success red-text">
        <p>Such a company exists</p>
      </div>
    </form>
</div>



