.error {
  color: #ff0000;
  font: bold 14px sans-serif;
  padding: 5px;
  background: #ff000036;
}
h2 {
  text-align: center;
}
.form-success {
  color: green;
  font: bold 20px "SansSerif";
}

.title-modal {
  font: bold 20px sans-serif;
  text-align: center;
}

.container-button {
  text-align: center;

  a {
    padding: 5px;
    display: inline-block;
    cursor: pointer;
    max-width: 190px;
    background: #26a69a;
    margin: 5px;
    color: #fff;
  }
}

.error-modal {
  color: red;
}
