<h2 class="container-company__title">Companies</h2>
<div>
  <button (click)="$event.preventDefault()" routerLink="/companies/add" class="waves-effect waves-light btn">Add</button>

    <!-- Form starts -->
    <form [formGroup]="itemsPagination" (ngSubmit)="onSubmit()">

      <select class="custom-select" (change)="changeItemsPerPage($e)" formControlName="itemsSelect">
        <option value="">Choose items per page</option>
        <option *ngFor="let item of itemsNum" [ngValue]="item">{{item}}</option>
      </select>


    </form>
      <!-- Submit Button -->

</div>

<table class="table">
  <thead class="thead-inverse">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Contact</th>
    <th>Mail</th>
    <th>Phone</th>
    <th>Status</th>
  </tr>
  </thead>
      <tbody
        *ngFor="let u of (companies$ | async) | paginate: {itemsPerPage:items, currentPage:p}"
        [company] = "u"
      >
      </tbody>
  <tr *ngIf="(companies$ | async)?.length === 0">
    <td colspan="6" class="noCompanies">No companies</td>
  </tr>
</table>
<pagination-controls (pageChange)="p = $event" class="pagination-custom"></pagination-controls>



