.table {
  border: solid #757575  1px;
}

h2 {
  text-align: center;
}
tr {
background: rgba(45, 184, 189, 0.73);
  th {
    text-align: center;
    border:solid #757575 1px;
  }
}
.waves-light {
  margin-bottom: 30px;
  display: inline-block;
  float: left;
}

.noCompanies {
  text-align: center;
  background: #fff;
  border-bottom:solid #757575 1px;
}
select {
  display: inline-block;
  float: right;
  width: 25%;
}

.pagination-custom /deep/ .ngx-pagination .current {
  background: #26a69a;
}
